<head>
  <!-- M E T A -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TAS<%= typeof page === "undefined" ? '' : ` - ${page}` %></title>
  <link rel="icon" type="image/png" href="/img/tasmanian-devil.png"/>
  
  <!-- I M P O R T S -->
  <!-- J A V A S C R I P T -->
  <!-- Jquery -->
  <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
  <!-- Bootstrap UI/UX -->
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>

  <!-- C S S -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
</head>