<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse order-1 order-md-0">
      <img src="/img/tasmanian-devil.png" class="tas-icon white" width="30" height="30" alt="">
      <a class="navbar-brand mx-1" href="/"><strong>Threat Analysis Suite</strong></a>
    </div>  
    <ul class="nav justify-content-end">
      <div class="btn-group" role="group" aria-label="Basic example">
        <% if (typeof user !== "undefined") { %>
          <a href="/main" role="button" class="btn btn-light">Main</a>
          <a href="/reports/add" role="button" class="btn btn-primary">Add Report</a>
          <a href="/reports" role="button" class="btn btn-danger">View Reports</a>
          <a href="/geo" role="button" class="btn btn-success">Geospatial View</a>
          <a href="/settings" role="button" class="btn btn-warning">Settings</a>
        <% } %>
        <% if (typeof user !== "undefined") { %>
          <a href="/logout" role="button" class="btn btn-danger">Logout</a>
          <% } else { %>
          <a href="/login" role="button" class="btn btn-info">Login</a>
        <% } %>
      </div>
    </ul>
  </nav>
</header>