<tr>
  <% Object.keys(fieldNames).forEach(field => { %>
  <td>
    <% if (field === "timestamp") { %> 
      <%= new Date(report[field] * 1000).toUTCString() %> 
    <% } else if (!report[field]) { %> 
      <% if (field === "fatalities") { %>
        0
      <% } else { %>
        None
      <% } %>
    <% } else {%>
      <%= report[field] %> 
    <% } %>
  </td>
  <% }) %>
</tr>
