<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include("partials/_head", { page: "Add Report" }) %>
  <body>
    <!-- Nav Partial -->
    <%- include("partials/_nav") %>

    <!-- Security Classification -->
    <%- include("partials/_security_classification", {classification:
    "Unclassified"}) %>

    <!-- Add Report Content -->
    <div class="container w-75 my-5">
      <form id="add-new-report" action="/reports/add" method="POST" >
        <!-- Iterate fields !except 'id', 'api_id', 'api_event_id', 'analyst_id' -->
        <% Object.keys(fieldNames).filter(field => !['id', 'event_date', 'api_id', 'api_event_id', 'analyst_id'].includes(field)).forEach((fieldRaw, index) => { %>
          <%- include("partials/_add_report_field", { index, fieldHuman: fieldNames[fieldRaw], fieldRaw, unique: unique[fieldRaw] }) %> 
        <% }) %>
        <button id="new-report-submit" type="submit" class="mt-3 btn btn-primary">Submit New Record</button>
      </form>
    </div>
    <!-- View Specific Scripts -->
    <script>
      $("[id^='row-']").each(row => {
        if (!(row % 2)) {
          $(`#row-${row}`).css({"background": "#d1d1d1", "border-radius": "10px"})
        }
      })
      $(":input[required]").css("border", "solid #e64949 1px")
      $(":input[required]").change((event) => {
        if (event.target.value) {
          $(`#${event.target.id}`).css("border", "solid #ced4da 1px")
        }
      })
    </script>
  </body>
</html>
