<!DOCTYPE html>
<html lang="en">
<!-- Head partial -->
<%- include("partials/_head", {page: "Geo"}) %>
<body>
  <!-- Nav Partial -->
  <%- include("partials/_nav") %>

  <!-- Security Classification -->
  <%- include("partials/_security_classification", {classification: "Unclassified"}) %>
  
  <!-- Geo Content -->
  <div id="analysis-tools"></div>
  <div id="map" class="map"></div>

<!-- View Specific Scripts -->
<!-- Turf - Geospatial Analysis -->
<script type="text/javascript" src="js/turf.min.js"></script>
<!-- OpenLayers - Geospatial Layer -->
<script type="text/javascript" src="js/ol.js"></script>
<!-- OpenLayer CSS -->
<link rel="stylesheet" type="text/css" href="stylesheets/ol.css">
<!-- OpenLayer Init -->
<%  const reports = records %>
<script type="text/javascript">
  const map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([37.41, 8.82]),
      zoom: 4
    })
  });
  const records = <%- JSON.stringify(records) %>;
  console.log(records)


</script>
</body>
</html>
