<!DOCTYPE html>
<html lang="en">
<!-- Head partial -->
<%- include("partials/_head.ejs", { page: "Login" }) %>
<body>
  <!-- Nav Partial -->
  <%- include("partials/_nav.ejs") %>

  <!-- Security Classification -->
  <%- include("partials/_security_classification.ejs", { classification: "Unclassified" }) %>
  
  <!-- If error, alert -->
  <% if (typeof error !== "undefined") { %>
    <div class="alert alert-danger text-center" role="alert">
      <%= error %>
    </div>
  <% } %>
  <!-- Login Content -->
  <div style="margin-top: 5%; width: 15%" class="container">
    <form action="/login" method="POST" >
      <div class="form-group">
        <label for="login-username">Username</label>
        <input required name="username" type="user" class="form-control login-field" id="login-username">
        <small id="emailHelp" class="form-text text-muted">Set by your system administrator.</small>
      </div>
      <div class="form-group text-center">
        <label for="login-pin">PIN</label>
        <input required name="pin" pattern="[0-9]*" inputmode="numeric" minlength="4" maxlength="4" type="password" class="form-control login-field" id="login-pin" maxlength="4">
      </div>
      <button id="login-submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>
