<!DOCTYPE html>
<html lang="en">
<!-- Head partial -->
<%- include("partials/_head.ejs", { page: "Main" }) %>
<body>
  <!-- Nav Partial -->
  <%- include("partials/_nav.ejs") %>

  <!-- Security Classification -->
  <%- include("partials/_security_classification.ejs", { classification: "Unclassified" }) %>
  
  <!-- Main Page Content -->

</body>
</html>
