<!DOCTYPE html>
<html lang="en">
<!-- Head partial -->
<%- include("partials/_head.ejs", { page: "Settings" }) %>
<body>
  <!-- Nav Partial -->
  <%- include("partials/_nav.ejs") %>

  <!-- Security Classification -->
  <%- include("partials/_security_classification.ejs", { classification: "Unclassified" }) %>

  
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  
<<<<<<< HEAD
  <!-- Settings Content -->
=======
  <!-- Welcome Page Content -->
  <header>
    <main class="settings-change">
      <div>
        <h3>Change user name</h3> 
        <form class="update-user" action="" method="POST">
          <input type="text" name="userName" placeholder="User Name">
        <h3>Change PIN number</h3> 
          <input type="text" name="change-pin" placeholder="PIN #">
         <br>
         <br>
         <button id="update-user-button" type="submit">Update</button>
        </form>
      </div>
    </main>
    <tr>
      <div>
        <h3>Add an API</h3> 
        <form class="add-api" action="/api" method="POST">
          <input type="text" name="api" placeholder="http://api-url">
          <button id="add-api" type="submit">Submit</button>
        </form>
      </div>
    </tr>
  </header>
>>>>>>> 9421627f954da2d3fccf2417fa547eb8cbbadd93

<!-- View Specific Scripts -->
<!-- If any -->
</body>
</html>
