<!DOCTYPE html>
<html lang="en">
<!-- Head partial -->
<%- include("partials/_head.ejs", { page: "Settings" }) %>
<body>
  <!-- Nav Partial -->
  <%- include("partials/_nav.ejs") %>

  <!-- Security Classification -->
  <%- include("partials/_security_classification.ejs", { classification: "Unclassified" }) %>
  
  <!-- Welcome Page Content -->
  <div class="container d-flex align-items-center flex-column mt-5">
    <!-- Update PIN -->
    <form class="mt-3 col-6" action="/settings/<%= user.id %>/pin" method="post">
      <h4>Update Pin</h4>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Change PIN</span>
        </div>
        <input name="newPin" type="password" class="pin-update form-control" minlength="4" maxlength="4">
        <div class="input-group-prepend">
          <span class="input-group-text">Confirm PIN</span>
        </div>
        <input type="password" class="pin-update form-control disabled" minlength="4" maxlength="4" disabled>
      </div>
      <p><small>Pin must be 4 Digits</small></p>
      <button type="submit" id="update-user" class="btn btn-primary mt-3 disabled">Update Pin</button>
    </form>
  </div>

<!-- View Specific Scripts -->
<script>
  $(document).ready(function() {

    $(".pin-update").first().keyup(() => {
      $(".pin-update").last().prop("disabled", false)
      $(".pin-update").last().removeClass("disabled")
    })

    $(".pin-update").keyup(() => {
      if (
        $(".pin-update").first().val() !== $(".pin-update").last().val() ||
        $(".pin-update").first().val().length !== 4 && $(".pin-update").last().val().length !== 4) {
        $(".pin-update").each((index, input) => {
          $(input).addClass("is-invalid")
        })
      } else {
        $(".pin-update").each((index, input) => {
          $(input).removeClass("is-invalid")
          $(input).addClass("is-valid")
        })
      }
    })
  })

</script>
<!-- If any -->
</body>
</html>
