<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include("partials/_head", {page: "View Report"}) %>
  <body>
    <!-- Nav Partial -->
    <%- include("partials/_nav") %> q
    <!-- Security Classification -->
    <%- include("partials/_security_classification", {classification:
    "Unclassified"}) %>

    <!-- Record Content -->
    <h1>Record Junk</h1>

    <!-- View Specific Scripts -->
  </body>
</html>
