/* F O N T   */
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body {
  font-size: 1em;
  font-family: "Ubuntu";
}

/* N A V */
.tas-icon {
  margin-right: 1em;
}

.tas-icon.white {
  filter: invert();
}

/* G E N E R A L */
.container {
  text-align: center;
}

/* C L A S S I F I C A T I O N */
.classification {
  background-color: rgb(0, 0, 0);
}

.classified {
  color: red;
}

.unclassified {
  color: white;
}

/* R E P O R T   T A B L E */

.title-case {
  text-transform: capitalize;
}

#reports-table_wrapper {
  padding: 15px 3em;
  width: 100%;
  font-family: "Ubuntu";
  font-size: 80%;
  white-space: nowrap;
}

.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
  content: "" !important;
}

.query-builder {
  background-color: rgba(236, 228, 228, 0.76);
  border-radius: 5px;
}

.button-panel {
  background-color: rgb(167, 173, 180);
  border-radius: 5px;
}

.dtsb-button {
  margin-top: 5px;
  background-color: rgb(207, 211, 219);
  border: 1px solid rgb(207, 211, 219);
}

.truncate {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover {
  font-family: "Ubuntu";
  font-weight: 700;
}
/* A D D   R E P O R T */

#mceu_0 {
  margin-bottom: 5%;
}

/* G E O */
.map {
  height: 92vh;
  width: 100%;
}

.geo-table {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 750px;
}

.geo-table-popup {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.off-row {
  background-color: rgb(197, 194, 194);
  border-radius: 10px;
}

.leaflet-marker-icon {
  stroke: white;
}

.pointTooltip {
  background-color: aqua;
}

.easyPrintHolder .geoCurrentXY {
  background-image: url("../img/tasmanian-devil.png");
}

.leaflet-tooltip td {
  max-width: 250px;
}

.geo-dot {
  height: 0.7em;
  width: 0.7em;
  border-radius: 50%;
  display: inline-block;
}

.legend {
  background-color: rgb(44, 44, 44);
  font-family: "Ubuntu";
  color: white;
  line-height: 1em;
  border-radius: 5px;
}

/* Import File */
.import-cell {
  font-size: 0.7em;
  max-width: 124px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.import-table {
  max-width: 90vw;
}
