/* F O N T   */
@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body {
  font-size: 1em;
  font-family: "Ubuntu";
}

/* N A V */
.tas-icon {
  margin-right: 1em;
}

.tas-icon.white {
  filter: invert();
}

/* G E N E R A L */
.container {
  text-align: center;
}

/* C L A S S I F I C A T I O N */
.classification {
  background-color: rgb(0, 0, 0);
}

.classified {
  color: red;
}

.unclassified {
  color: white;
}

/* R E P O R T   T A B L E */
.title-case {
  text-transform: capitalize;
}

#reports-table_wrapper {
  padding: 15px 3em;
  width: 100%;
  font-family: "Ubuntu";
  font-size: 80%;
  white-space: nowrap;
}

.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
  content: "" !important;
}
